'.text.html.vue':

  'Alerts -> Vuetify':
    'prefix': 'v-alert',
    'body': """
    <v-alert type="$1">$2</v-alert>
    """,
    "description": "El componente v-alert se utiliza para transmitir información importante al usuario a través de los iconos de tipos contextuales y el color."

  'App -> Vuetify':
     'prefix': 'v-app',
     'body': """
     <v-app $1></v-app>
     """,
     "description": ""

  'App bars -> Vuetify':
    'prefix': 'v-app-bar',
    'body': """
    <v-app-bar>$1</v-app-bar>
    """,
    "description": "El componente v-app-bar es crucial en cualquier interfaz gráfica de usuario (GUI), ya que generalmente es la fuente principal de navegación del sitio."

  'Autocompletes -> Vuetify':
    'prefix': 'v-autocomplete',
    'body': """
    <v-autocomplete $1></v-autocomplete>
    """,
    "description": "El componente v-autocomplete ofrece una funcionalidad de escritura anticipada simple y flexible."

  'Avatars -> Vuetify':
    'prefix': 'v-avatar',
    'body': """
    <v-avatar>$1</v-avatar>
    """,
    "description": "El componente v-avatar se usa generalmente para mostrar imágenes circulares de perfil de usuario."

  'Badges -> Vuetify':
    'prefix': 'v-badge',
    'body': """
    <v-badge>$1</v-badge>
    """,
    "description": "Los superíndices o subíndices del componente v-badge, es un icono o texto similar a un avatar en el contenido para resaltar la información a un usuario o simplemente para llamar la atención sobre un elemento en específico."

  'Banners -> Vuetify':
    'prefix': 'v-banner',
    'body': """
    <v-banner>$1</v-banner>
    """,
    "description": "El componente v-banner se usa como mensaje de interrupción intermedia para el usuario con 1-2 acciones."

  'Boilerplate -> Vuetify':
    'prefix': 'v-boilerplate',
    'body': """
    <v-boilerplate $1></v-boilerplate>
    """

  'Bottom navigation -> Vuetify':
    'prefix': 'v-bottom-navigation',
    'body': """
    <v-bottom-navigation>$1</v-bottom-navigation>
    """,
    "description": "La v-bottom-navigation es una alternativa a la barra lateral."

  'Bottom sheets -> Vuetify':
    'prefix': 'v-bottom-sheet',
    'body': """
    <v-bottom-sheet>$1</v-bottom-sheet>
    """,
    "description": "La hoja inferior es un cuadro de diálogo modificado que se desliza desde la parte inferior de la pantalla, similar a una navegación v-bottom."

  'Breadcrumbs -> Vuetify':
    'prefix': 'v-breadcrumbs',
    'body': """
    <v-breadcrumbs>$1</v-breadcrumbs>
    """,
    "description": "El componente v-breadcrumbs es un ayudante de navegación para páginas."

  'Buttons -> Vuetify':
    'prefix': 'v-btn',
    'body': """
    <v-btn>$1</v-btn>
    """,
    "description": "El componente v-btn reemplaza el botón html estándar con un tema de diseño de material y una multitud de opciones."

  'Button groups -> Vuetify':
    'prefix': 'v-btn-toggle',
    'body': """
    <v-btn-toggle>$1</v-btn-toggle>
    """,
    "description": "El componente v-btn-toggle es un simple envoltorio para v-item-group construido específicamente para usarse con v-btn."

  'Calendars -> Vuetify':
    'prefix': 'v-calendar',
    'body': """
    <v-calendar $1></v-calendar>
    """,
    "description": "El componente v-calendar se usa para mostrar información en una vista diaria, semanal o mensual."

  'Cards -> Vuetify':
    'prefix': 'v-card',
    'body': """
    <v-card>$1</v-card>
    """,
    "description": "El componente v-card es un componente versátil que se puede usar para cualquier cosa, desde un panel hasta una imagen estática."

    'Cards actions -> Vuetify':
      'prefix': 'v-card-actions',
      'body': """
      <v-card-actions>$1</v-card-actions>
      """,
      "description": "El contenedor utilizado para colocar acciones para una tarjeta, como v-btn o v-menu."

    'Cards subtitle -> Vuetify':
      'prefix': 'v-card-subtitle',
      'body': """
      <v-card-subtitle>$1</v-card-subtitle>
      """,
      "description": "Proporciona un tamaño de fuente y relleno predeterminados para los subtítulos de la tarjeta."

    'Cards text -> Vuetify':
      'prefix': 'v-card-text',
      'body': """
      <v-card-text>$1</v-card-text>
      """,
      "description": "Se utiliza principalmente para contenido de texto en una tarjeta."

    'Cards title -> Vuetify':
      'prefix': 'v-card-title',
      'body': """
      <v-card-title>$1</v-card-title>
      """,
      "description": "Proporciona un tamaño de fuente y relleno predeterminados para títulos de tarjetas."

  'Carousels -> Vuetify':
    'prefix': 'v-carousel',
    'body': """
    <v-carousel>$1</v-carousel>
    """,
    "description": "El componente v-carrusel se usa para mostrar grandes cantidades de contenido visual en un temporizador giratorio."

    'Carousels item -> Vuetify':
      'prefix': 'v-carousel-item',
      'body': """
      <v-carousel-item>$1</v-carousel-item>
      """,
      "description": "El contenedor de imágenes utilizado por v-carrusel."

  'Checkbox -> Vuetify':
    'prefix': 'v-checkbox',
    'body': """
    <v-checkbox $1></v-checkbox>
    """,
    "description": "Los componentes de control de selección permiten al usuario seleccionar opciones."

  'Chips -> Vuetify':
    'prefix': 'v-chip',
    'body': """
    <v-chip>$1</v-chip>
    """,
    "description": "El componente v-chip se utiliza para transmitir pequeñas piezas de información."

  'Chip groups -> Vuetify':
    'prefix': 'v-chip-group',
    'body': """
    <v-chip-group>$1</v-chip-group>
    """,
    "description": "El grupo v-chip sobrealimenta el componente v-chip al proporcionar una funcionalidad agrupable. Se utiliza para crear grupos de selecciones usando chips."

  'Col -> Vuetify':
    'prefix': 'v-col',
    'body': """
    <v-col>$1</v-col>
    """,
    "description": "Es el contenido que debe ser un hijo directo de v-row. Este es el reemplazo 2.x para v-flex en 1.x."

  'Color pickers -> Vuetify':
    'prefix': 'v-color-picker',
    'body': """
    <v-color-picker $1></v-color-picker>
    """,
    "description": "El selector de color v-color-picker le permite seleccionar un color usando una variedad de métodos de entrada."

  'Combobox -> Vuetify':
    'prefix': 'v-combobox',
    'body': """
    <v-combobox $1></v-combobox>
    """,
    "description": "El componente v-combobox es un v-autocompletado que permite al usuario ingresar valores que no existen dentro de los elementos provistos."

  'Container -> Vuetify':
    'prefix': 'v-container',
    'body': """
    <v-container>$1</v-container>
    """,
    "description": "Proporciona la capacidad de centrar y rellenar horizontalmente los contenidos de su sitio. También puede usar el prop fluid para extender completamente el contenedor en todos los tamaños de ventana y dispositivo."

  'Data iterators -> Vuetify':
    'prefix': 'v-data-iterator',
    'body': """
    <v-data-iterator
      :items="$1"
      item-key="$2"
      :items-per-page.sync="$3"
    >$4</v-data-iterator>
    """,
    "description": "El componente v-data-iterator se usa para mostrar datos y comparte la mayoría de sus funciones con el componente v-data-table."

  'Date pickers -> Vuetify':
    'prefix': 'v-date-picker',
    'body': """
    <v-date-picker $1></v-date-picker>
    """,
    "description": "El selector de fecha v-date-picker es un componente independiente que se puede utilizar en muchos componentes Vuetify existentes."

  'Data tables -> Vuetify':
    'prefix': 'v-data-table',
    'body': """
    <v-data-table
      v-model="$1"
      :headers="$2"
      :items="$3"
      item-key="$4"></v-data-table>
    """,
    "description": "El componente v-data-table se usa para mostrar datos tabulares."

  'Dialogs -> Vuetify':
    'prefix': 'v-dialog',
    'body': """
    <v-dialog>$1</v-dialog>
    """,
    "description": "El componente v-dialog informa a los usuarios sobre una tarea específica y puede contener información crítica, requerir decisiones o involucrar múltiples tareas."

  'Dividers -> Vuetify':
    'prefix': 'v-divider',
    'body': """
    <v-divider></v-divider>
    """,
    "description": "El componente v-divisor se usa para separar secciones de listas o diseños."

  'Expansion panels -> Vuetify':
    'prefix': 'v-expansion-panel',
    'body': """
    <v-expansion-panel>$1</v-expansion-panel>
    """,
    "description": "El componente v-expansion-panel es útil para reducir el espacio vertical con grandes cantidades de información."

    'Expansion panels panel -> Vuetify':
      'prefix': 'v-expansion-panel',
      'body': """
      <v-expansion-panel>$1</v-expansion-panel>
      """

    'Expansion panels header -> Vuetify':
      'prefix': 'v-expansion-panel-header',
      'body': """
      <v-expansion-panel-header>$1</v-expansion-panel-header>
      """

    'Expansion panels content -> Vuetify':
      'prefix': 'v-expansion-panel-content',
      'body': """
      <v-expansion-panel-content>$1</v-expansion-panel-content>
      """

  'File inputs -> Vuetify':
    'prefix': 'v-file-input',
    'body': """
    <v-file-input $1></v-file-input>
    """,
    "description": "El componente v-file-input es una entrada especializada que proporciona una interfaz limpia para seleccionar archivos, que muestra información de selección detallada y el progreso de carga."

  'Forms -> Vuetify':
    'prefix': 'v-form',
    'body': """
    <v-form>$1</v-form>
    """,
    "description": "Cuando se trata de la validación de formularios, Vuetify tiene una multitud de integraciones y funcionalidades integradas."

  'Footer -> Vuetify':
    'prefix': 'v-footer',
    'body': """
    <v-footer>$1</v-footer>
    """,
    "description": "El componente v-footer se usa para mostrar información general a la que un usuario puede acceder desde cualquier página de su sitio."

  'Hover -> Vuetify':
    'prefix': 'v-hover',
    'body': """
    <v-hover>$1</v-hover>
    """,
    "description": "El componente v-hover proporciona una interfaz limpia para manejar estados de desplazamiento para cualquier componente."

  'Icons -> Vuetify':
    'prefix': 'v-icon',
    'body': """
    <v-icon>$1</v-icon>
    """,
    "description": "The v-icon component provides a large set of glyphs to provide context to various aspects of your application."

  'Images -> Vuetify':
    'prefix': 'v-img',
    'body': """
    <v-img src="$1"></v-img>
    """,
    "description": "El componente v-img está repleto de características para admitir medios enriquecidos."

  'Inputs -> Vuetify':
    'prefix': 'v-input',
    'body': """
    <v-input>$1</v-input>
    """,
    "description": "El componente v-input le proporciona una línea base para crear sus propias entradas personalizadas."

  'Item groups -> Vuetify':
    'prefix': 'v-item-group',
    'body': """
    <v-item-group>$1</v-item-group>
    """,
    "description": "El v-item-group proporciona la capacidad de crear un grupo de elementos seleccionables de cualquier componente. Esta es la funcionalidad básica para componentes como v-tabs y v-carousel."

  'Lazy -> Vuetify':
    'prefix': 'v-lazy',
    'body': """
    <v-lazy>$1</v-lazy>
    """,
    "description": "El componente v-lazy se usa para cargar dinámicamente componentes en función de la visibilidad de los elementos."

  'List item content -> Vuetify':
    'prefix': 'v-list-item-content',
    'body': """
    <v-list-item-content>$1</v-list-item-content>
    """,
    "description": ""

  'List item groups -> Vuetify':
    'prefix': 'v-list-item-group',
    'body': """
    <v-list-item-group>$1</v-list-item-group>
    """,
    "description": "El v-list-item-group proporciona la capacidad de crear un grupo de v-list-items seleccionables."

  'List item title -> Vuetify':
    'prefix': 'v-list-item-title',
    'body': """
    <v-list-item-title>$1</v-list-item-title>
    """,
    "description": ""

  'List item subtitle -> Vuetify':
    'prefix': 'v-list-item-subtitle',
    'body': """
    <v-list-item-subtitle>1</v-list-item-subtitle>
    """,
    "description": ""

  'Lists -> Vuetify':
    'prefix': 'v-list',
    'body': """
    <v-list>$1</v-list>
    """,
    "description": "El componente v-list se usa para mostrar información. Puede contener un avatar, contenido, acciones, subtítulos y mucho más."

  'Menus -> Vuetify':
    'prefix': 'v-menu',
    'body': """
    <v-menu>$1</v-menu>
    """,
    "description": "El componente v-menu muestra un menú en la posición del elemento utilizado para activarlo."

  'Navigation drawers -> Vuetify':
    'prefix': 'v-navigation-drawer',
    'body': """
    <v-navigation-drawer>$1</v-navigation-drawer>
    """,
    "description": "El componente v-navigation-drawer es lo que utilizarán los usuarios para navegar por la aplicación."

  'Overlays -> Vuetify':
    'prefix': 'v-overlay',
    'body': """
    <v-overlay>$1</v-overlay>
    """,
    "description": "v-overflow-btn se usa para dar al usuario la capacidad de seleccionar elementos de la lista."

  'Overflow btns -> Vuetify':
    'prefix': 'v-overflow-btn',
    'body': """
    <v-overflow-btn $1></v-overflow-btn>
    """,
    "description": "v-overflow-btn se usa para dar al usuario la capacidad de seleccionar elementos de la lista."

  'Paginations -> Vuetify':
    'prefix': 'v-pagination',
    'body': """
    <v-pagination $1></v-pagination>
    """,
    "description": "El componente v-pagination se usa para separar conjuntos largos de datos para que sea más fácil para un usuario visualizar la información."

  'Parallax -> Vuetify':
    'prefix': 'v-parallax',
    'body': """
    <v-parallax src="$1">$2</v-parallax>
    """,
    "description": "El componente v-parallax crea un efecto 3D que hace que una imagen parezca desplazarse más lentamente que la ventana."

  'Progress circular -> Vuetify':
    'prefix': 'v-progress-circular',
    'body': """
    <v-progress-circular $1></v-progress-circular>
    """,
    "description": "El componente v-progress-circular se usa para transmitir datos circularmente a los usuarios."

  'Progress linear -> Vuetify':
    'prefix': 'v-progress-linear',
    'body': """
    <v-progress-linear $1></v-progress-linear>
    """,
    "description": "El componente v-progress-linear se usa para transmitir datos visualmente a los usuarios."

  'Radio -> Vuetify':
    'prefix': 'v-radio',
    'body': """
    <v-radio $1></v-radio>
    """,
    "description": "Los componentes de control de selección permiten al usuario seleccionar opciones."

    'Radio group -> Vuetify':
      'prefix': 'v-radio-group',
      'body': """
      <v-radio-group v-model="$1">$2</v-radio-group>
      """,
      "description": "Los componentes de control de selección permiten al usuario seleccionar opciones."

  'Ratings -> Vuetify':
    'prefix': 'v-rating',
    'body': """
    <v-rating>$1</v-rating>
    """,
    "description": "El componente de calificación es una pieza especializada pero crucial en la creación de widgets de usuario."

  'Row -> Vuetify':
    'prefix': 'v-row',
    'body': """
    <v-row>$1</v-row>
    """,
    "description": "Es un componente contenedor para v-col. Utiliza propiedades flex para controlar el diseño y el flujo de sus columnas internas."

  'Selects -> Vuetify':
    'prefix': 'v-select',
    'body': """
    <v-select $1></v-select>
    """,
    "description": "Los componentes de campos seleccionados se utilizan para recopilar información proporcionada por el usuario de una lista de opciones."

  'Sheets -> Vuetify':
    'prefix': 'v-sheet',
    'body': """
    <v-sheet>$1</v-sheet>
    """,
    "description": "El v-sheet está diseñada para alimentar otros componentes de papel dentro de Vuetify."

  'Simple tables -> Vuetify':
    'prefix': 'v-simple-table',
    'body': """
    <v-simple-table>$1</v-simple-table>
    """,
    "description": "El componente v-simple-table es un componente contenedor simple alrededor del elemento <table>."

  'Skeleton loaders -> Vuetify':
    'prefix': 'v-skeleton-loader',
    'body': """
    <v-skeleton-loader $1></v-skeleton-loader>
    """,
    "description": "El componente v-skeleton-loader es una herramienta versátil que puede cumplir muchos roles dentro de un proyecto."

  'Slide groups -> Vuetify':
    'prefix': 'v-slide-group',
    'body': """
    <v-slide-group>$1</v-slide-group>
    """,
    "description": "El componente v-slide-group se usa para mostrar información pseudopaginada."

  'Sliders -> Vuetify':
    'prefix': 'v-slider',
    'body': """
    <v-slider $1></v-slider>
    """,
    "description": "El componente v-slider es la mejor visualización para la entrada del número."

  'Snackbars -> Vuetify':
    'prefix': 'v-snackbar',
    'body': """
    <v-snackbar $1>$2</v-snackbar>
    """,
    "description": "El componente v-snackbar se usa para mostrar un mensaje rápido a un usuario."

  'Sparklines -> Vuetify':
    'prefix': 'v-sparkline',
    'body': """
    <v-sparkline $1></v-sparkline>
    """,
    "description": "El componente minigráfico se puede usar para crear gráficos simples, como el gráfico de contribución de GitHub."

  'Speed dial -> Vuetify':
    'prefix': 'v-speed-dial',
    'body': """
    <v-speed-dial></v-speed-dial>
    """,
    "description": ""

  'Steppers -> Vuetify':
    'prefix': 'v-stepper',
    'body': """
    <v-stepper $1></v-stepper>
    """,
    "description": "El componente v-stepper muestra el progreso a través de pasos numerados."

    'Steppers Step -> Vuetify':
      'prefix': 'v-stepper-step',
      'body': """
      <v-stepper-step $1>$2</v-stepper-step>
      """

  'Subheaders -> Vuetify':
    'prefix': 'v-subheader',
    'body': """
    <v-subheader>$1</v-subheader>
    """,
    "description": "El componente v-subheader se usa para separar secciones de listas."

  'System bars -> Vuetify':
    'prefix': 'v-system-bar',
    'body': """
    <v-system-bar>$1</v-system-bar>
    """,
    "description": "El componente v-system-bar se puede usar para mostrar estados al usuario."

  'Switch -> Vuetify':
    'prefix': 'v-switch',
    'body': """
    <v-switch $1></v-switch>
    """,
    "description": "Los componentes de control de selección permiten al usuario seleccionar opciones."

  'Tabs -> Vuetify':
    'prefix': 'v-tabs',
    'body': """
    <v-tabs>$1</v-tabs>
    """,
    "description": "El componente v-tabs se usa para ocultar contenido detrás de un elemento seleccionable."

  'Tabs items -> Vuetify':
    'prefix': 'v-tabs-items',
    'body': """
    <v-tabs-items></v-tabs-items>
    """,
    "description": ""

  'Textarea -> Vuetify':
    'prefix': 'v-textarea',
    'body': """
    <v-textarea $1></v-textarea>
    """,
    "description": "Los componentes de área de texto se utilizan para recopilar grandes cantidades de datos textuales."

  'Text fields -> Vuetify':
    'prefix': 'v-text-field',
    'body': """
    <v-text-field $1></v-text-field>
    """,
    "description": "Los componentes de área de texto se utilizan para recopilar grandes cantidades de datos textuales."

  'Time pickers -> Vuetify':
    'prefix': 'v-time-picker',
    'body': """
    <v-time-picker $1></v-time-picker>
    """,
    "description": "El selector de tiempo v-time-picker es un componente independiente que se puede utilizar en muchos componentes Vuetify existentes."

  'Timelines -> Vuetify':
    'prefix': 'v-timeline',
    'body': """
    <v-timeline $1></v-timeline>
    """,
    "description": "La línea de tiempo v-timeline es útil para mostrar estilísticamente información cronológica."

    'Timelines Item -> Vuetify':
      'prefix': 'v-timeline-item',
      'body': """
      <v-timeline-item>$1</v-timeline-item>
      """

  'Toolbars -> Vuetify':
    'prefix': 'v-toolbar',
    'body': """
    <v-toolbar>$1</v-toolbar>
    """,
    "description": "El componente de la barra de herramientas funciona muy bien en combinación con v-navigation-drawer y v-card."

  'Tooltips -> Vuetify':
    'prefix': 'v-tooltip',
    'body': """
    <v-tooltip>$1</v-tooltip>
    """,
    "description": "El componente v-tooltip es útil para transmitir información cuando un usuario se desplaza sobre un elemento."

  'Treeview -> Vuetify':
    'prefix': 'v-treeview',
    'body': """
    <v-treeview :items="$1">$2</v-treeview>
    """,
    "description": "El componente v-treeview es útil para mostrar grandes cantidades de datos anidados."

  'Windows -> Vuetify':
    'prefix': 'v-window',
    'body': """
    <v-window>$1</v-window>
    """,
    "description": "El componente v-window proporciona la funcionalidad de línea de base para la transición de contenido de 1 panel a otro."
